/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #698db6;
    color: rgb(8, 7, 7);
    padding: 20px 0;
    size: 40px;
}

header .logo h1 {
    font-size: 2em;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Sections */
.section {
    padding: 40px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Skills */
.skills-list {
    display: flex;
    justify-content: space-between;
}

.skill {
    width: 30%;
}

.skill h3 {
    font-size: 1.3em;
}

.skill p {
    font-size: 1em;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1em;
}
